.h1 {
    background-color: rgb(84, 31, 218);
    color: antiquewhite;
    font-size: 20px;
    text-align: center;
}
.h2 {
    background-color: aqua;
    color: antiquewhite;
    text-align: center;
    font-size: 20px;

}
.form {
    background-color: azure;
    color: black;
    font-size: 20px;
}
.image {
    height: 50px;
    width: 50px ;
}