.box1 {
    padding: 20px;
    text-align: center;
    background-color: rgb(76, 84, 157);
    color: red;
    font-size: 20px;
    border: 1px solid purple;
    margin-left: auto;
    margin-right:auto;
}
#box2 {
    background-color: aqua;
    width: 300px;
    height: 100px;
    color: rgb(21, 111, 163);
    text-align: center;
    font-size: 10px;
    border: 1px solid blue;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
}